In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

Import the training/validation data

In [3]:
train_data = pd.read_csv('train.csv')

In [5]:
train_data.shape

(7613, 5)

In [6]:
train_data.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1